.do-test {
	display: none;
}
.design-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5000;
}
.do-controls {
	position: absolute;
	position: fixed;
	top: 0;
	right: 0;
	width: 300px;
	background: #ddd;
	z-index: 5001;
	font-family: sans-serif;
	font-size: 13px;
	padding: 9px 20px 25px;
	color: #333;
}
.do-controls .ui-slider-handle {
   outline: none;
}
.do-row {
	margin: 10px 0;
}
.do-controls label {
	display: inline-block;
	width: 72px;
	text-align: right;
	margin: 0 10px 0 0;
}
.do-controls input.text {
	width: 174px;
}
#do-slider {
	display: inline-block;
	width: 174px;
}
.do-click-thru {
	pointer-events: none;
}
.do-click-thru-row {
	display: none;
}
.do-pointer-events .do-click-thru-row {
	display: block;
}
.do-footer {
	width: 340px;
	position: absolute;
	bottom: 0;
	left: 0;
}